:root {
  --font-family: 'Helvetica Neue';
  --floating-button-size: 40px;
  --floating-button-color: #000000;
  --floating-button-text-color: #ffffff;
  --bg-main-color: #fdfdfd;
  --main-text-color: #364f6b;
  --bg-card-color: #ffffff;
  --bg-header-color: #303a52;
  --text-header-color: #f0f0f0;
}
